# Ignore virtual environments
.venv/
env/
venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local environment secrets
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Streamlit logs
.streamlit/config.toml
.streamlit/secrets.toml
